// assets/scss/_mixins.scss
@use "sass:color";
@use "colors.scss" as *;
$font-title: 'Montserrat', sans-serif;
$font-text: 'Open Sans', sans-serif;

@mixin banner-style {
  background-color: #009917;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 0;
  font-weight: 600;
  font-size: 18px;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin card-style($bg-color) {
  background-color: $bg-color;
  color: #000000;
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  font-family: $font-title;
  font-weight: 600;
}

