// assets/scss/_mixins.scss
$font-title: 'Montserrat', sans-serif;
$font-text: 'Open Sans', sans-serif;

@mixin card-style($bg-color) {
  background-color: $bg-color;
  color: #000000;
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  font-family: $font-title;
  font-weight: 600;
}

@mixin header-style {
  background-color: #9fd6ff;
  color: #000000;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: $font-text;
}

@mixin footer-style {
  background-color: #b3b3b3;
  color: #000000;
  padding: 20px;
  font-size: 16px;
  font-family: $font-text;
}